# Python
__pycache__/
*.pyc

# Environment
venv/
.venv/
.env

# Notebooks
.ipynb_checkpoints/

# Data / outputs
data/raw/
data/processed/
outputs/*.json

# Models
models/
*.pt
*.pth
*.pkl
*.joblib

# System / editor
.DS_Store
Thumbs.db
.vscode/