# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ========================
# Virtual Environment
# ========================
venv/
.env/
.venv/

# ========================
# Environment Variables (Secrets)
# ========================
.env
*.env

# ========================
# Jupyter Notebook
# ========================
.ipynb_checkpoints/

# ========================
# Logs
# ========================
*.log

# ========================
# OS Files
# ========================
.DS_Store
Thumbs.db

# ========================
# VS Code
# ========================
.vscode/

# ========================
# PyTorch / Models
# ========================
*.pt
*.pth
*.ckpt

# ========================
# Data Files (اختياري حسب مشروعك)
# ========================
data/
datasets/
*.csv
*.json



# ========================
# Streamlit
# ========================
.streamlit/

# ========================
# Build / Dist
# ========================
build/
dist/
*.egg-info/

